<section   id="about_section">
    <div class="row">
    
        <div class="col-md-6">
            <br>
            <span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span> 

            <div class="page-container">
    
                <div class="page-back">
                </div>
                <div class="page-front">
                    <div class="HeadPart">
                        <h1 aria-label=" About me" class="letter-root animate three" id="three">
                             <span class="letter Lett_A" aria-hidden="true" style="opacity: 1;">A</span>
                             <span class="letter" aria-hidden="true" style="opacity: 1;">b</span>
                             <span class="letter" aria-hidden="true" style="opacity: 1;">o</span>
                             <span class="letter" aria-hidden="true" style="opacity: 1;">u</span>
                             <span class="letter" aria-hidden="true" style="opacity: 1;">t</span>
                              <span class="letter letter-M" aria-hidden="true" style="opacity: 1;"> &nbsp; M </span>
                              <span class="letter" aria-hidden="true" style="opacity: 1;">e</span>
                        </h1>
                                <br> <br> <br><br>
                        <h2 id="AboutTxt">
                            Focused recent college graduate with a Bachelor's degree (very good) .
                             Aiming to leverage acquired academic knowledge and proven planning, 
                             teamwork, and multitasking skills to successfully fill the Web Developer role . <br><br>
                             Visit my <a class="linked-a" href="">LinkedIn</a> profile for more details.
                        </h2>
                        
                    </div>
                </div>
              </div>

           
            <br>
            <span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>

        </div>
        <div class="col-md-6">
           
            <!-- *** -->
            <section id="pyramid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </section>

            <!-- *** -->
        </div>
    </div>
</section>