
.row{
    width: 100%;
    padding-left: 5%;
}
.imgLogo{
    width: 100%;
}
.top-tags {
    bottom: auto;
    top: 5%;
}

.tags {
    color: #515152;
    position: fixed;
    bottom: 4%;
    font-size: 18px;
    left: 5%;
    font-family: 'La Belle Aurore',cursive;
}



 .HeadPart {
    padding-top: 26%;
    padding-left: 4%;
}


h1 {
    font-size: 53px;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
    color: white;
    font-family: 'Syncopate', sans-serif;
}

@keyframes push {
   
  50%{
      transform:  scaleY(0.6)
  }
70% {
      transform:  scaleY(1.6);
  }
100% {
  transform:  scaleY(1);
}
}

@keyframes pushX {
   
  50%{
      transform:  scaleX(0.6)
  }
70% {
      transform:  scaleX(1.5);
  }
100% {
  transform:  scaleX(1);
}
}


.letter {
   cursor: context-menu;
    display: inline-block;
    opacity: 0;
}
.letter:hover{
  animation-name: push;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.letter-M:hover{
  animation-name: pushX !important;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

 h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -5%;
    margin-left: 4%;
}
 h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: 0%;
    bottom: -58%;
    margin-left: 20px;
}
 h2 {
  padding-left: 8%;
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
    font-family: 'Unica One', cursive;
}

.linked-a{
  color: #08fdd8;
}
.linked-a:hover{
  color: white;
}
h2:before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -5%;
    margin-left: -5%;
}
 h2:after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    left: 10%;
    margin-top: 6%;
}

.Lett_A{
    padding-left: 7%;
}

/* ***** */

#pyramid {
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    transform-style: preserve-3d;
    height: 500px;
    width: 100px;
    position: absolute;
    left: 25%;
    top: 68%;
    margin-top: -210px;
    transform-origin: 116px 200px 116px;
    opacity: 0;
  }
  
   @keyframes spin{
   from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) ;
  } 
  
   }

   @-webkit-keyframes spin {
    from {
      -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
      -webkit-transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    } 
  }
  
  @-moz-keyframes spin {
     from {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    } 
  } 
  #pyramid > div {
    position: absolute;
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.5);
    border-style: solid;
    border-radius: 3px;
    border-width: 199px 0 202px 346px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  #pyramid>div:after {
    position: absolute;
    color: #fff;
    left: -311px;
    top: -69px;
    text-align: center;
    opacity: .6;
}

  #pyramid > div:first-child  {
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg)  translateY(-400px);
    -moz-transform: rotateY(-19.5deg) rotateX(180deg)  translateY(-400px);
    transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
  }
  #pyramid > div:first-child::after  {
     position: absolute;
     content: url('../../../assets/html5.svg');
}

  #pyramid > div:nth-child(2) {
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px) ;
    -moz-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
  }
  
  #pyramid > div:nth-child(2)::after {
      
    position: absolute;
    content: url('../../../assets/JavaScript-01.svg');
  }
  #pyramid > div:nth-child(3) {
    -webkit-transform: rotateX(60deg) rotateY(19.5deg) ;
    -moz-transform: rotateX(60deg) rotateY(19.5deg) ;
    transform: rotateX(60deg) rotateY(19.5deg);
  }
  #pyramid > div:nth-child(3)::after {
    
    position: absolute;
     content: url('../../../assets/angular.svg');
  }
  #pyramid > div:nth-child(4) {
    transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
      -moz-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px translateZ(326px));
  }
  #pyramid > div:nth-child(4)::after {
    position: absolute;
    content: url('../../../assets/CSS.svg');
   
  }

  .animate span {
    display: inline-block;
    animation-delay: .5s;
  }
  .animate span:nth-of-type(2) {
    animation-delay: .05s;
  }
  .animate span:nth-of-type(3) {
    animation-delay: .1s;
  }
  .animate span:nth-of-type(4) {
    animation-delay: .15s;
  }
  .animate span:nth-of-type(5) {
    animation-delay: .2s;
  }
  .animate span:nth-of-type(6) {
    animation-delay: .25s;
  }
  .animate span:nth-of-type(7) {
    animation-delay: .3s;
  }
  /* Animation Three */


.three span {
	color: #08fdd8;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .5s forwards;
}

@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #08fdd8;
	}

	80% {
		transform: translate(20px, 0) scale(1);
		color: #08fdd8;
	}

	99% {
		transform: translate(0) scale(1.2);
		color: #00f0ff;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #08fdd8;
	}
}
#AboutTxt{
  opacity: 0;
  transition:  .4s ease-in;
}

 /* -----Responsive----- */
 @media only screen and (min-width: 1600px) {
  h1{
    font-size: 65px;
  }
  h1::before , h1::after{
    font-size: 25px;
  }
  
  .tags {
    font-size: 25px;
  }

  h2::before , h2::after {
    font-size: 25px;
  }
  h2{
    font-size: 24px;
  }
  #pyramid{
    zoom: 1.4;
  }
 }