.HomeSection{
    overflow: hidden;
}
.row{
    width: 100%;
    padding-left: 5%;
}
.imgLogo{
    width: 100%;
}
.top-tags {
    bottom: auto;
    top: 5%;
}
.container{
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tags {
    color: #515152;
    position: fixed;
    bottom: 4%;
    font-size: 18px;
    left: 5%;
	font-family: 'La Belle Aurore',cursive;

}

 .letter {
     cursor: context-menu;
    /* opacity: 0; */
    display: contents;

}
.lettAnim{
	animation-name: push !important;
}

.letter:hover {
    color: #08fdd8;
    opacity: 1;
	animation-name: push !important;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

 .HeadPart {
    padding-top: 28%;
    padding-left: 11%;
}


 h1 {
	color: #fff;
    font-size: 63px;
    line-height: 53px;
    margin: 0;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: 'Krona One', sans-serif;
    letter-spacing: 13px;
}
 h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
	margin-top: -7%;
	letter-spacing: 0;
}
 h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    -webkit-animation: myanim2 1s 1.7s backwards;
	animation: myanim2 1s 1.7s backwards;
	letter-spacing: 0;
}
  h2 {
	position: absolute;
    top: 48%;
    left: 15%;
    color: white;
    font-size: 49px;
    letter-spacing: 8px;
    font-family: 'Syncopate', sans-serif;
}


.imgLett{
    width: 11%;
    margin-top: -3%;
}
.lett_n{
    margin-left: -1%;
}

.flat-button {
    color: #08fdd8;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08fdd8;
    margin-top: 25px;
    float: left;
    -webkit-animation: myanim2 1s 1.8s backwards;
    animation: myanim2 1s 1.8s backwards;
}
.flat-button:hover {
    background: #08fdd8;
    color: #333;
}



.animate span {
	display: inline-block;
	animation-delay: .5s;
}
.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}

.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}
.animate span:nth-of-type(21) {
	animation-delay: 1s;
}
.animate span:nth-of-type(22) {
	animation-delay:  1.01s;
}
.animate span:nth-of-type(23) {
	animation-delay: 1.02s;
}
.animate span:nth-of-type(24) {
	animation-delay: 1.03s;
}
.animate span:nth-of-type(24) {
	animation-delay: 1.04s;
}





/* Animation Four */


.four span {
	color: #fff;
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: revolveDrop .3s forwards;
	animation-iteration-count: 1;
}


@keyframes revolveDrop {
	30% {
		transform: translate(0, -50px) rotate(180deg) scale(1);
	}

	60% {
		transform: translate(0, 20px) scale(.8) rotate(0deg);
	}

	100% {
		transform: translate(0) scale(1) rotate(0deg);
		opacity: 1;
	}
}


@keyframes push {

    50%{
        transform:  scaleY(0.6);
    }
	70% {
        transform:  scaleY(1.4);
    }
	100% {
		transform:  scaleY(1);
	}
}

#TxtPart{
	transition: .3s ease-in;
	opacity: 0;
}

/* ------------------ */

.page-container {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #fff;
  }

  .page-back {
	width: 120%;
	height: 120%;
	left: -10%;
	top: -10%;
	position: absolute;

	background-size: cover;
	background-position: center;
	-webkit-filter: blur(3px);
	filter: blur(3px);
  }

  .page-front {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }

  .page-front img {
	width: 100%;
  }
  /* ------------------ */

  html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
canvas{
    background-color: #000;
}

/* -----Responsive----- */
@media only screen and (min-width: 1600px) {
    h1{
        font-size: 85px;
    }
    h2 {
        left: 24%;
        font-size: 59px;
    }
}

@media only screen and (max-width: 1055px) {
    h1 {
        font-size: 34px;
        line-height: 53px;
        top: 30%;
        left: 18%;
        letter-spacing: 11px;
    }
    canvas {
        width: max-content;
        height: max-content;
    }

    h2{
        top: 48%;
        left: 13%;
        font-size: 15px;
    }

    h1:after {
        margin-top: 33px;
        margin-left: -14px;
    }
}

@media only screen and (max-width: 600px) {
    .lett_n {
        padding-right: 29%;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 29px;
        line-height: 53px;
        top: 30%;
        left: 23%;
        letter-spacing: 5px;
    }
    canvas {
        width: max-content;
        height: max-content;
    }

    h2{
        top: 54%;
        left: 13%;
        font-size: 12px;
    }
    .lett_n {
        margin-left: 25%;
    }
}
