#projects_section{
  -webkit-animation: translate .5s backwards;
  animation: translate  .5s backwards;
}

@keyframes translate{
 0%{
  transform: translateY(100%);
 }
 100%{
  transform: translateY(0%);
  
 }
}

.darkMode{
  color: #1d1d1d !important;
}
.row{
  width: 100%;
  padding-left: 11%;
  height: 89vh;
}
#LabPart{
  margin-left: -3%;
}



.eyebrow{
  color: white;
  font-size: 14px;
  padding-left: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
    font-family: "Gotham-Medium","Helvetica Neue",sans-serif;
    letter-spacing: .4em;
}
.eyebrow::before{
  content: '';
  height: 2px;
    width: 40px;
    position: absolute;
    left: 0;
    transform: translate(0,8px);
    -webkit-transform: translate(0,8px);
    -ms-transform: translate(0,8px);
    transform: translate(0,8px);
    background: white;
}
.ProjectName{
  font-family: 'Russo One', sans-serif;
  font-size: 70px;
  color: white;
  text-transform: uppercase;
}

.macbook__display {
  position: relative;
  width: 86%;
  margin: 0 auto;
  border: 1px solid #333;
  padding: 4vw 2.5vw 2.5vw;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
  box-shadow: inset -6px 13px 18px black, 2px 6px 19px -12px white;
  background: transparent;
}
.macbook__display:before {
  content: "";
  display: block;
  position: absolute;
  top: 2vw;
  left: 50%;
  width: .8vw;
  height: .8vw;
  transform: translate(-50%);
  border-radius: 100%;
  border: 1px solid #333;
}
.macbook__body {
  display: block;
  width: 100%;
  height: 3.2vw;
  border: 1px solid #333;
  position: relative;
  top: -1px;
  border-bottom-left-radius: 3vw 2vw;
  border-bottom-right-radius: 3vw 2vw;
  box-shadow: 4px -1px 22px 14px black inset;
  box-shadow: inset 0 23px 25px black, -6px 0 2px -8px grey;
}
.macbook__body:before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1.5vw;
  top: -1px;
  left: 50%;
  transform: translate(-50%);
  background: transparent;
  border: 1px solid #333;
  border-bottom-left-radius: 2vw 1.3vw;
  border-bottom-right-radius: 2vw 1.3vw;
}


::ng-deep .prevBtn{
  color: white;
    position: absolute;
    left: 40%;
    top: 50%;
    text-align: left;
    margin-left: 6%;
    text-orientation: upright !important;
    writing-mode: vertical-lr !important;
    text-transform: uppercase;
    font-size: 13px;
    color: #c0c0c0;
    transition: .3s ease-in;
   
}
::ng-deep .prevBtn:hover{
   color: burlywood;
}

::ng-deep .prevBtn::before{
  content: '';
  background-color: white;
  width: 2px;
  height: 22px;
  color: white;
  position: absolute;
  left: 6px;
  top: -31px;
}
::ng-deep .prevBtn::after{
  content: '';
  background-color: white;
  width: 2px;
  height: 51px;
  color: white;
  position: absolute;
  left: 6px;
  top: 72px;
}

::ng-deep .nextBtn{
  color: white;
    position: absolute;
    left: 92%;
    top: 50%;
    text-align: right;
   
    text-orientation: upright !important;
    writing-mode: vertical-lr !important;
    text-transform: uppercase;
    font-size: 13px;
    color: #c0c0c0;
}

::ng-deep .nextBtn::before{
  content: '';
  background-color: white;
  width: 2px;
  height: 22px;
  color: white;
  position: absolute;
  right: 9px;
  top: -31px;
}
::ng-deep .nextBtn::after{
  content: '';
  background-color: white;
  width: 2px;
  height: 51px;
  color: white;
  position: absolute;
  right: 9px;
  top: 72px;
}
::ng-deep .nextBtn:hover{
  color: burlywood;
}

 ::ng-deep .projBody{
    background: -moz-radial-gradient(ellipse at center, rgba(1,1,1,0.80) 22%, #0d0d0f  103%) ;
    background: -webkit-radial-gradient(ellipse at center, rgba(1,1,1,0.80) 22%, #0d0d0f  103%) ;
    background: -o-radial-gradient(ellipse at center, rgba(1,1,1,0.80) 22%, #0d0d0f  103%) ;
    background: -ms-radial-gradient(ellipse at center, rgba(1,1,1,0.80) 22%, #0d0d0f  103%) ;
    background: radial-gradient(ellipse at center, rgba(1,1,1,0.80) 22%, #0d0d0f  103%) ;
 } 

.eyebrow:hover::before{
  content: '';
  background-color: white;
  width: 2px;
  height: 51px;
  color: white;
  position: absolute;
  transition: .3s ease-in;
}

.visitBtn{
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gotham-Medium","Helvetica Neue",sans-serif;
  letter-spacing: .4em;
  cursor: pointer;
  transition: 0.3s ease-in;
  text-align: center;
  margin-top: 50%;
  margin-left: -7%;

}
a{
  text-decoration: none;
}
.visitBtn:hover{
  letter-spacing: 0.6em;
  text-decoration: none;
}
.visitBtn:hover::before{
  content: '';
  background-color: white;
  width: 69px;
  height: 2px;
  color: white;
  position: absolute;
  left: -47%;
  bottom: 17%;
}
.visitBtn:hover::after{
  content: '';
  background-color: white;
  width: 69px;
  height: 2px;
  color: white;
  position: absolute;
  left: 105%;
  bottom: 17%;
}
.projectDes{
  padding-top: 9%;
  font-size: 37px;
  color: white;
  font-family: 'Unica One', cursive;
}
.btnDiv{
  position: absolute;
  bottom: 9%;
  left: 20%;
}

#carousel .item{
  cursor:grab;
  cursor:-webkit-grab;
}

#carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}


  /* -----Responsive----- */
  @media only screen and (min-width: 1600px) {
   
    .eyebrow {
      color: white;
      font-size: 17px;
      margin-top: 11%;
      padding-left: 8%;
    }
    .eyebrow::before {
      content: '';
      height: 2px;
      width: 49px;
    }
    .ProjectName {
      font-family: 'Russo One', sans-serif;
      font-size: 87px;
    }
    .row {
      width: 100%;
      padding-left: 8%;
    }
    .projectDes {
      padding-top: 9%;
      font-size: 45px;
    }
    .projectDes {
      padding-top: 4%;
      font-size: 45px;
    }
    .btnDiv {
      position: absolute;
      bottom: 9%;
      left: 20%;
  }
  .visitBtn:hover::before {
    width: 93px;
    height: 3px;
    left: -44%;
    bottom: 17%;
}
.visitBtn:hover::after {
  width: 80px;
  height: 3px;
  left: 102%;
  bottom: 17%;
}
#LabPart {
  margin-top: 2%;
}
::ng-deep .prevBtn {
  font-size: 17px;
  left: 39%;
}
  
::ng-deep .prevBtn::before {
  width: 2px;
  height: 35px;
  left: 9px;
  top: -42px;
}
::ng-deep .prevBtn::after {
  width: 2px;
  height: 61px;
  left: 10px;
  top: 86px;
}
::ng-deep .nextBtn {
  font-size: 17px;
}

::ng-deep .nextBtn::before {
  width: 2px;
  height: 35px;
  right: 9px;
  top: -42px;
}
::ng-deep .nextBtn::after {
  width: 2px;
  height: 61px;
  right: 10px;
  top: 86px;
}


  }