<section class="projects_section" id="projects_section">

    <owl-carousel
    [options]="customOptions"
    [carouselClasses]="[ 'sliding','owl-carousel']"
   >

     <div class="row" *ngFor="let project of projects; let id=index;"  >
          <div class="col-md-5 " id="TxtPart">
              <br> <br> <br> <br> <br> <br><br> <br>
             <p class="eyebrow">Projects</p>
             <p class="ProjectName">{{project.name}}.</p>
             <p class="projectDes">{{project.des}}</p>
             <div class="btnDiv">
                 <a href={{project.url}} target="_blank"> <p class="visitBtn"> Visit Website</p> </a>
             </div>


          </div>
          <div class="col-md-7 " id="LabPart">
            <br><br> <br> <br><br><br> <br> <br>
            <div class="macbook__display">

              <img [lazyLoad]="project.im" defaultImage="https://dummyimage.com/640x16:9/000/ffffff&text=Andrew+Ayman" alt="">
            </div>
            <div class="macbook__body"></div>
          </div>

      </div>




</owl-carousel>
<div>
  <a   class="scrollComp"><span></span>Scroll</a>
</div>
</section>
