<div class="IconDiv">
    <h2>
         <span class="s1">A</span>
        <span class="s2">A</span> 
    </h2>
   
</div> 

<div class="sidenav">

   
    <div class="OpenedNav" >
     <!--   -->
   <br><br><br><br><br>
   
       <div class="RouteDiv">
           <a [routerLink]="['']" class="py-3 home-a"> <i class="fa fa-home"></i> </a>
           <a [routerLink]="['/skills']"  class="py-3 code-a" ><i class="fa fa-code"></i></a>
           <a [routerLink]="['/projects']"   class="py-3 eye-a" > <i class="fa fa-eye"></i> </a>  
           <a [routerLink]="['/about']" class="py-3 user-a" > <i class="fa fa-user"></i> </a>
       </div>
       
       <div class="LinksIcons">
           <a href="https://www.linkedin.com/in/andrew-ayman-068735152" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
           <a href="https://github.com/Andrew2020Ayman" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i> </a>
       </div>
    </div>
    
     
  </div>