<section   id="skills_section">
  <div class="row">
    <div class="col-md-6">
      <span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span> 

      <div class="HeadPart">
          <h1 aria-label="Skills & Experience" class="letter-root animate seven">
               <span class="letter Lett_A frame-1" aria-hidden="true" style="opacity: 1;">Skills</span>
               <span class="letter " aria-hidden="true" style="opacity: 1;">  &nbsp;&</span>
               <br>
               <span class="letter Lett_A" aria-hidden="true" style="opacity: 1;">Experience</span>
            
          </h1>
  
      </div>
  
      <br>
      
      <span class="tags bottom-tags">
          <p class="quoteTxt"> 'Talk is cheap. Show me the code. – Linus Torvalds' </p> <br>
          &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br> &lt;/html&gt; </span>
  
    </div>
    <div class="col-md-6"></div>
  </div>
    
     <owl-carousel
     [options]="customOptions"
     [carouselClasses]="['owl-theme', 'sliding']"
    > 
       <div class="wrapper" *ngFor="let img of images; let id=index;">
         <img class="masked" src={{img.im}} />
       
            <div class="shadow" id="shadow"></div>
 
          
         <div class="DesSlider">
           <div class="BallDiv">
                    <p class="ballPoint"></p>  
              </div>
              
              <div class="BodyTxt">
                          &nbsp;
                <h2 class="LanTxt"> {{img.name}}  </h2>
              </div>
              
         </div>
              
         </div>

    </owl-carousel> 

</section>
