  .wrapper {
    height: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .shadow {
    position: absolute;
    width: 150vw;
    height: 150vh;
    left: 52%;
    top: 50%;
    transform: translateX(-68%) translateY(-65%);
    background-image: radial-gradient(circle at center, transparent, #161616 25%);
  }
  .BodyTxt{
    color: white;
    z-index: 4;
    display: flex;
  }
  .top-tags {
    bottom: auto;
    top: 5%;
  }
  
  .tags {
    color: #515152;
    position: fixed;
    bottom: 4%;
    font-size: 18px;
    left: 5%;
    font-family: 'La Belle Aurore',cursive;
    z-index: 4;
  }

  .HeadPart {
    padding-top: 16%;
    padding-left: 19%;
    z-index: 4;
    position: absolute;
  }
  
  

  h1 {
    font-size: 53px;
    font-family: 'Syncopate', sans-serif;
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    color: rgb(194, 179, 229);
  }
  
  
  @keyframes push {
   
  50%{
      transform:  scaleY(0.6)
  }
  70% {
      transform:  scaleY(1.6);
  }
  100% {
  transform:  scaleY(1);
  }
  }
  
  @keyframes pushX {
   
  50%{
      transform:  scaleX(0.8)
  }
  70% {
      transform:  scaleX(1.2);
  }
  100% {
  transform:  scaleX(1);
  }
  }
  
  
  .letter {
   cursor: context-menu;
    display: inline-block;
    opacity: 0;
  }
  .letter:hover{
  animation-name: push;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  }
  
  .letter-M:hover{
  animation-name: pushX !important;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  }
  
  .Lett_A{
    margin-left: 6%;
  }

  h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -3%;
    margin-left: 4%;
  }
  h1:after {
    content: '</h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
   
    margin-left: 20px;
  }

  .LanTxt{
    font-family: 'Krona One', sans-serif;
    color: rgb(194, 179, 229);
    font-size: 66px;
    transform: translate(-150px, 0) scale(.3);
    animation: leftRight .5s forwards
  }
  
  .ballPoint{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 70%;
    background: linear-gradient(0deg, rgb(251, 251, 230), rgb(41, 41, 42));
  }
  .quoteTxt{
    font-family: 'Spirax', cursive;
    color: black;
    font-size: 21px;
    margin-left: 5%;
    width: 100%;
    color: #6d7a7d;
  }
  .DesSlider{
    background-position: 346px 150px;
    position: absolute;
    bottom: 40%;
    left: 9%;
    display: inline-flex;
  }

  ::ng-deep  .owl-theme {
   position: absolute;
   top: 0;
   left: 0;
}
      
  ::ng-deep  .nexBtn {
    outline: none !important;
    border: none !important;
    font-size: 17px !important;
    color: white !important;
    position: absolute !important;
    bottom: 53% !important;
    left: 14% !important;
    background: transparent !important;
    transition: 0.3s ease-out;
  }
  ::ng-deep  .preBtn {
    outline: none !important;
    border: none !important;
    font-size: 17px !important;
    color: white !important;
    position: absolute !important;
    bottom: 53% !important;
    left: 9% !important;
    background: transparent !important;
   transition: 0.3s ease-out;
  }

  
  ::ng-deep .preBtn:hover , ::ng-deep .nexBtn:hover{
    font-size: 20px !important;
    color: burlywood!important;

  }

   ::ng-deep  .owl-dots{
    z-index: 5 !important;
    font-size: 30px !important;
    position: absolute !important;
    bottom: 30% !important;
    right: 9% !important;

  } 


  .animate span {
    display: inline-block;
    animation-delay: .1s;
  }
 
  .animate span:nth-of-type(2){
    animation-delay: 0.5s;
  }

  .seven span {
    color: rgb(194, 179, 229);
    opacity: 0;
    transform: translate(-150px, 0) scale(.3);
    animation: leftRight .5s forwards;
  }
  
  
  @keyframes leftRight {
    40% {
      transform: translate(50px, 0) scale(.7);
      opacity: 1;
      color: rgb(194, 179, 229);
    }
  
    60% {
      color: rgb(194, 179, 229);
    }
  
    80% {
      transform: translate(0) scale(2);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }
  
  

  /* -----Responsive----- */
@media only screen and (min-width: 1600px) {
  h1{
    font-size: 65px;
  }
  h1::before , h1::after{
    font-size: 25px;
  }
  .LanTxt {
    font-family: 'Krona One', sans-serif;
    color: rgb(194, 179, 229);
    font-size: 81px;
  }

  .ballPoint {
    width: 40px;
    height: 40px;

  }
  ::ng-deep .preBtn , ::ng-deep .nexBtn {
    outline: none !important;
    border: none !important;
    font-size: 24px !important;
  }
  .quoteTxt {
    font-size: 25px;
  }
  .tags {
    font-size: 25px;
  }

 ::ng-deep .owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
 }

}
