body{
    background-color:#1d1d1d ;
    font: 300 11px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif;

    padding: 0; 
    margin: 0; 
    overflow: hidden;
    height: 100%;
/* 
    background: -moz-radial-gradient(ellipse at center, rgba(1,1,1,1) 20%,rgba(1,1,1,0.79) 107%);
    background: -webkit-radial-gradient(ellipse at center, rgba(1,1,1,1) 20%,rgba(1,1,1,0.79) 107%);
    background: -o-radial-gradient(ellipse at center, rgba(1,1,1,1) 20%,rgba(1,1,1,0.79) 107%);
    background: -ms-radial-gradient(ellipse at center, rgba(1,1,1,1) 20%,rgba(1,1,1,0.79) 107%);
    background: radial-gradient(ellipse at center, rgba(1,1,1,1) 20%,rgba(1,1,1,0.79) 107%); */
  }


* {
  box-sizing: border-box;
}